<script>
import Room from "./models/Room";
import Admin from "./models/Admin";

export default {
  name: 'App',
  async mounted() {
    const admin = new Admin("Andrés Chacón", "achaconm2001@gmail.com");
    await admin.save();
    const room = new Room("Ejemplo 3", 1000, 75, ["xd", "no"], admin);
    await room.save();
    Room.list().then(data => console.log(data))
  }
}
</script>
<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
