<template>
  <q-layout view="lHh Lpr lFf">
    
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          Rescatando Amigos
        </q-toolbar-title>

      <!--    <div>Quasar v{{ $q.version }}</div>-->
      </q-toolbar>
        <q-tabs align="left">
        <q-route-tab to="/VerSalas" label="Ver Salas" />
        <q-route-tab to="/AgregarSala" label="Agregar Sala" />
        <q-route-tab to="/AgregarInstructor" label="Agregar Instructor" />
        <q-route-tab to="/EditarSala" label="Editar Sala" />
        <q-route-tab to="/PublicarHorarioSala/1" label="PublicarHorarioSala" />
        <q-route-tab to="/EstablecerHorario" label="Establecer Horario" />
        <q-route-tab to="/auth" label="Login" />
  
      </q-tabs>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Enlaces Rapidos
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
      
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksData = [
  {
    title: 'Ver publicaciones',
    caption: 'ver publicaciones',
    icon: 'photos',
    link: '#/VerPublicaciones'
  },
    {
    title: 'Buscar publicación',
    caption: 'Buscar publicacion',
    icon: 'search',
    link: '#/Buscar'
  },

    {
    title: 'Crear Publicación',
    caption: 'Crear Publicacion',
    icon: 'code',
    link: '#/CrearPublicacion'
  },
  {
    title: 'Perfil',
    caption: 'Perfil',
    icon: 'person',
    link: '#/Perfil'
  },
    {
    title: 'Login',
    caption: 'Login',
    icon: 'person',
    link: '#/auth'
  },
    

  

];

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  }
}
</script>

