<template>
  <div class="q-gutter-y-md column" style="max-width: 300px" align="center">
    <q-card flat bordered class="my-card">
      <q-card-section>
        <q-input
          filled
          v-model="Name"
          label="Nombre"
          
          placeholder=""
          hint="Nombre Sala"
          :dense="dense"
        />
                <q-input
          filled
          v-model="MaxCapacity"
          type="number"
          label="Capacidad Maxima"
          placeholder=""
          hint="Capacidad Maxima de la sala"
          :dense="dense"
        />
                        <q-input
          filled
          v-model="MaxCapacityAllowed"
          type="number"
          label="Capacidad Maxima PERMITIDA"
          placeholder=""
          hint="Capacidad Maxima de la sala"
          :dense="dense"
        />
      </q-card-section>
      <q-card-section>
        <q-btn color="secondary" icon-right="save" label="Guardar" />
      </q-card-section>
    </q-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      Name:'',
      MaxCapacity: 0,
      MaxCapacityAllowed: 0,
    };
  },
};
</script>