<template>
<div class="q-gutter-y-md column" style="max-width: 300px"  align="center">



    <q-card flat bordered class="my-card" >
      <q-card-section>
        <q-input filled v-model="ph" label="Label" placeholder="Placeholder" hint="Nombre Sala" :dense="dense" />

      </q-card-section>
      <q-card-section>
        <q-input filled v-model="ph" label="Label" placeholder="Placeholder" hint="Capacidad Maxima" :dense="dense" />
       </q-card-section>
             <q-card-section>
        <q-input filled v-model="ph" label="Label" placeholder="Placeholder" hint="Aforo:" :dense="dense" />
       </q-card-section>
         <q-card-section>
        <q-input filled v-model="time" mask="time" :rules="['time']" hint="Hora de inicio de atencion">
        <template v-slot:append>
          <q-icon name="access_time" class="cursor-pointer">
            <q-popup-proxy transition-show="scale" transition-hide="scale">
              <q-time v-model="time">
                <div class="row items-center justify-end">
                  <q-btn v-close-popup label="Close" color="primary" flat />
                </div>
              </q-time>
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
    </q-card-section>
         <q-card-section>
        <q-input filled v-model="time" mask="time" :rules="['time']" hint="Hora de Fin de atencion">
        <template v-slot:append>
          <q-icon name="access_time" class="cursor-pointer">
            <q-popup-proxy transition-show="scale" transition-hide="scale">
              <q-time v-model="time">
                <div class="row items-center justify-end">
                  <q-btn v-close-popup label="Close" color="primary" flat />
                </div>
              </q-time>
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
     </q-card-section>
      <q-card-section>
    <q-input filled v-model="ph" label="Label" placeholder="Placeholder" hint="Descripción" :dense="dense" />
            </q-card-section>
         <q-card-section>
      <q-btn color="secondary" icon-right="save" label="Guardar" />
      </q-card-section>



    </q-card>
    
    
  </div>
</template>
<script>
export default {
  data () {
    return {
      time: '10:56',
      timeWithSeconds: '10:56:00'
    }
  }
}
</script>