<template>
    <div class="q-pa-md row items-start q-gutter-md">



      <q-card class="my-card" v-for="item in posts" v-bind:key="item.id">
        <img :src="item.Foto">
        {{item.Nombre}}

      <q-card-section>
        <div class="text-h6">{{item.Nombre}}</div>
        <div class="text-subtitle2">{{item.Correo}}</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        {{item.Descripcion}}
      </q-card-section>
            <q-card-actions>
        <q-btn flat @click="gotopage(item)">Contactar a la persona</q-btn>
        <q-btn flat>Action 2</q-btn>




      </q-card-actions>
    </q-card>
    <div id="app">
  <ul>
    <li v-for="item in publicaciones" v-bind:key="item.Correo">
      {{ item.Nombre }} - {{ item.caption }}
    </li>
  </ul>
</div>
  </div>
  
</template>

<script>
export default {
  data () {
    return {
      lorem: 'Andrei Andrei ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
      name:'andrei',
      apellido: "leon salas",
      posts: [],
      publicaciones: [
        {
          Nombre: 'Andrei Leon Salas',
          Correo: 'andreileonsalas@gmail.com',
          Tipo: 'Adopcion',
          Descripcion: 'Un pequeno gato que necesita un hogar ipsum dolor sit amet,  adipiscing elit,cididunt ut labore et dolore magna aliqua. ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
          Latitud: 9.99999999,
          Longitud: 9.99999999,
          Foto: 'https://cdn.quasar.dev/img/mountains.jpg'
        },
                {
          Nombre: 'Andrei Leon Salas',
          Correo: 'andreileonsalas@gmail.com',
          Tipo: 'Adopcion',
          Descripcion: 'a',
          Latitud: 9.99999999,
          Longitud: 9.99999999,
          Foto: 'https://cdn.quasar.dev/img/mountains.jpg'
        },
                {
          Nombre: 'Andrei Leon Salas',
          Correo: 'andreileonsalas@gmail.com',
          Tipo: 'Adopcion',
          Descripcion: 'Un pequeno gato que necesita un hogar ipsum dolor sit a eiusmod tempor incididunt ut labore et dolore magna aliqua. ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
          Latitud: 9.99999999,
          Longitud: 9.99999999,
          Foto: 'https://cdn.quasar.dev/img/mountains.jpg'
        },
                {
          Nombre: 'Andrei Leon Salas',
          Correo: 'andreileonsalas@gmail.com',
          Tipo: 'Adopcion',
          Descripcion: 'Un pequeno gato que necesita un hogar ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
          Latitud: 9.99999999,
          Longitud: 9.99999999,
          Foto: 'https://cdn.quasar.dev/img/mountains.jpg'
        },
                {
          Nombre: 'Andrei Leon Salas',
          Correo: 'andreileonsalas@gmail.com',
          Tipo: 'Adopcion',
          Descripcion: 'Un pequeno gato que necesita un hogar ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
          Latitud: 9.99999999,
          Longitud: 9.99999999,
          Foto: 'https://cdn.quasar.dev/img/mountains.jpg'
        },
        {
          Nombre: 'Andrei Leon Salas',
          Correo: 'https://google.com',
          Tipo: 'Perdido',
          Descripcion: 'Un pequeno gato que necesita un hogar',
          Latitud: 9.99999999,
          Longitud: 9.99999999,
          Foto: 'https://cdn.quasar.dev/img/mountains.jpg'
        },
        {
          Nombre: 'Andrei Leon Salas',
          Correo: 'Perfil',
          Tipo: 'Perdido',
          Descripcion: 'Un pequeno gato que necesita un hogar',
          Latitud: 9.99999999,
          Longitud: 9.99999999,
          Foto: 'https://cdn.quasar.dev/img/mountains.jpg'
        },
      ]
    }
  },
  methods: {
    getPosts() {
      console.log(`${ process.env.API }/posts`)
      console.log("ANDREI PROBANDO")
      this.$axios.get(`${ process.env.API }/posts`).then(response => {
        this.posts = response.data
      }).catch(err => {
        this.$q.dialog({
          title: 'Error',
          message: 'Could not download posts.'
        })
      })
    },
    showNotification () {
      this.$q.notify('Some other message')
    },
    gotopage(item){
      console.log(item)
      if (this.validateEmail(item.Correo))
        window.location.href = "mailto:" + item.Correo + "?subject=Te contacto sobre la adopcion desde rescatandoamigos?body=" + item.Descripcion
      else
        if (this.validURL(item.Correo))
          window.location.href = item.Correo
        else
          window.alert("Hay un error en el enlace, por favor reportar a andreileonsalas@gmail.com");
    },
    validateEmail(email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },
    validURL(str) {
    var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
      '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
      '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
      '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
      '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
      '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
    return !!pattern.test(str);
  },
    
  },
    filters: {
    niceDate(value) {
      return date.formatDate(value, 'MMMM D h:mmA')
    }
  },
  created() {
    this.getPosts()
  }
}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 250px
</style>
