<template>
  <div  class="q-pa-md row items-start q-gutter-md" align="center">
    <q-card
      class="my-card"
      v-for="item in publicaciones"
      v-bind:key="item.Nombre"
      align="center"
    >
      <q-card-section class="bg-primary text-white">
        <div class="text-h5">{{ item.Nombre }}</div>
      </q-card-section>

      <q-separator />

      <q-card-actions align="Left">
        <div class="text-h6 q-mt-sm q-mb-xs">Capacidad Maxima:</div>
        <div class="text-subtitle1 q-mt-sm q-mb-xs">{{ item.Capaciodad }}</div>
      </q-card-actions>
      <q-card-actions align="Left">
        <div class="text-h6 q-mt-sm q-mb-xs">Descripción:</div>
        <div class="text-subtitle1 q-mt-sm q-mb-xs">{{ item.Descripcion }}</div>
      </q-card-actions>
      <q-card-actions align="Left">
        <div class="text-h6 q-mt-sm q-mb-xs">Horario:</div>
        <div class="text-subtitle1 q-mt-sm q-mb-xs">
          {{ item.HorarioInicio }}
        </div>
        <div class="text-subtitle1 q-mt-sm q-mb-xs">-</div>
        <div class="text-subtitle1 q-mt-sm q-mb-xs">{{ item.HorarioFin }}</div>
        <div class="text-subtitle1 q-mt-sm q-mb-xs">{{ item.Dias }}</div>
      </q-card-actions>
      <div class="q-pa-md q-gutter-sm">
        <q-btn color="primary" label="Publicar Horario" />
      </div>
    </q-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
            publicaciones: [
        {
          Nombre: 'Yoga',
          Capaciodad: '50',
          Descripcion: 'Relax',

          HorarioInicio: '6:00',
          HorarioFin: '20:00',
          Dias : 'Todos los días',
        },
                {
          Nombre: 'Siempre Joven',
          Capaciodad: '15',
           Descripcion: 'Con Musica',
          HorarioInicio: '6:00',
          HorarioFin: '20:00',
          Dias : 'Todos los días',

        },
                        {
          Nombre: 'Joven',
          Capaciodad: '105',
           Descripcion: 'Con Musica',
          HorarioInicio: '6:00',
          HorarioFin: '20:00',
          Dias : 'Todos los días',

        },

      ]
    };
  },
};
</script>