<template >
    <div class="q-pa-md" align="center">
      <q-card class="my-card" align="right">
      
        <q-card-section>
          <img :src="'icons/logo3.png'" height="250" >
        </q-card-section>
            
        <q-card-section>
            <div  align="left" class="text-h4">{{"Registrarse"}}</div>
        </q-card-section>
                  <q-card-section>
            <q-input id="name" type="name" v-model="name" placeholder="Nombre Completo"  filled/>
        </q-card-section>
        <q-card-section>
            <q-input id="Identificador" type="Identificador" v-model="Identificador" placeholder="Nombre para ser identificado"  filled/>
        </q-card-section>



        <q-card-section>
            <q-input id="correo" type="email" v-model="email" placeholder="Correo Electrónico"  filled/>
        </q-card-section>

        <q-card-section>
            <q-input tabindex="0" id="pass" type="password" v-model="password"  placeholder="Contraseña" filled />
        </q-card-section>

        <q-card-section>
            <q-input id="telefono" type="telefono" v-model="telefono"  placeholder="Teléfono" filled />
        </q-card-section>

        <q-card-section>
            <q-input id="ubicacion" type="ubicacion" v-model="ubicacion"  placeholder="Ubicación" filled />
        </q-card-section>

        <q-card-actions align="center" >
            <q-btn @click="registro"  color="primary" >Siguiente</q-btn>
        </q-card-actions>

        <q-card-section>      
          <p>
          ¿Ya tienes una cuenta?
          <a href="/#/auth">Ingresar</a>
          </p>
        </q-card-section>


    </q-card>
    
    <div id="app">

    </div>
  </div>
  
</template>

<script>
import firebase from "firebase";   
import {dba} from "boot/firebase";   

export default {
  data () {
    return {
      Foto: 'https://lh3.googleusercontent.com/-aim6mkv_SoY/X47v1r4spvI/AAAAAAAAINs/l-VVgYQ92t406n_P0F0h1G0FP4sA5XP3gCLcBGAsYHQ/w1200-h630-p-k-no-nu/Dog%2BCat%2BLogo%2BTemplate%2BVeterinary.jpg',
      name: "",
      Identificador: "",
      email: "",
      password: "",
      telefono: "",
      ubicacion: "",
    }
  },
  
  methods: {
    registro: async function(){
      const user = {
        Identificador: '@'+this.Identificador,
        Nombre: this.name,
        email: this.email,
        Telefono: this.telefono,
        Ubicacion: this.ubicacion,
      }
      const resDB = await dba.collection('InfoPersona').add(user)
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.email, this.password)
        .then(
          
          user => {
            //this.loginUser(user.data);
            //console.log(user.data);
            this.$router.push('verPublicaciones')
          },
          err => {
            alert(err);
        }
      ) 

    },
    onReset() {
      this.email = null
      this.pass = null
      this.usuario = null
    },
  }
}

</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 600px
</style>
