<template>
  <div class="q-pa-md row items-start q-gutter-md">
    <q-card
      class="my-card"
      v-for="item in publicaciones"
      v-bind:key="item.Nombre"
      align="center"
    >
      <q-card-section class="bg-primary text-white">
        <div class="text-h5">{{ item.Nombre }}</div>
      </q-card-section>

      <q-separator />

      <q-card-actions align="Left">
        <div class="text-h6 q-mt-sm q-mb-xs">Capacidad Maxima:</div>
        <div class="text-subtitle1 q-mt-sm q-mb-xs">{{ item.Capaciodad }}</div>
      </q-card-actions>
      <q-card-actions align="Left">
        <div class="text-h6 q-mt-sm q-mb-xs">Descripción:</div>
        <div class="text-subtitle1 q-mt-sm q-mb-xs">{{ item.Descripcion }}</div>
      </q-card-actions>
      <q-card-actions align="Left">
        <div class="text-h6 q-mt-sm q-mb-xs">Horario:</div>
        <div class="text-subtitle1 q-mt-sm q-mb-xs">
          {{ item.HorarioInicio }}
        </div>
        <div class="text-subtitle1 q-mt-sm q-mb-xs">-</div>
        <div class="text-subtitle1 q-mt-sm q-mb-xs">{{ item.HorarioFin }}</div>
        <div class="text-subtitle1 q-mt-sm q-mb-xs">{{ item.Dias }}</div>
      </q-card-actions>
      <div class="q-pa-md q-gutter-sm">
        <q-btn round color="primary" icon="edit" />
      </div>
    </q-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      lorem:
        "Andrei Andrei ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
      name: "andrei",
      apellido: "leon salas",
      publicaciones: [
        {
          Nombre: "Yoga",
          Capaciodad: "50",
          Descripcion: "Relax",

          HorarioInicio: "6:00",
          HorarioFin: "20:00",
          Dias: "Todos los días",
        },
        {
          Nombre: "Siempre Joven",
          Capaciodad: "15",
          Descripcion: "Con Musica",
          HorarioInicio: "6:00",
          HorarioFin: "20:00",
          Dias: "Todos los días",
        },
        {
          Nombre: "Joven",
          Capaciodad: "105",
          Descripcion: "Con Musica",
          HorarioInicio: "6:00",
          HorarioFin: "20:00",
          Dias: "Todos los días",
        },
      ],
    };
  },
  methods: {
    showNotification() {
      this.$q.notify("Some other message");
    },
    gotopage(item) {
      console.log(item);
      if (this.validateEmail(item.Correo))
        window.location.href =
          "mailto:" +
          item.Correo +
          "?subject=Te contacto sobre la adopcion desde rescatandoamigos?body=" +
          item.Descripcion;
      else if (this.validURL(item.Correo)) window.location.href = item.Correo;
      else
        window.alert(
          "Hay un error en el enlace, por favor reportar a andreileonsalas@gmail.com"
        );
    },
    validateEmail(email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },
    validURL(str) {
      var pattern = new RegExp(
        "^(https?:\\/\\/)?" + // protocol
          "((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|" + // domain name
          "((\\d{1,3}\\.){3}\\d{1,3}))" + // OR ip (v4) address
          "(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*" + // port and path
          "(\\?[;&a-z\\d%_.~+=-]*)?" + // query string
          "(\\#[-a-z\\d_]*)?$",
        "i"
      ); // fragment locator
      return !!pattern.test(str);
    },
  },
};
</script>
s
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 250px
</style>
